<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <title>Admin</title>
  <link rel="icon"  type = "image/x-icon" href="admin.svg">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style type="text/css" >
  	#div1
  	{
  		width: 100%;
  		height: 300px;
  		background-color: #FFF8DC;
   	}

	body {
	  width:100%;
	  height:100%;
	  font-weight:bold;
	  font-family: 'Dosis', sans-serif;
	  font-weight: 400;
	}
	.card{
		box-shadow: 4px 8px 14px 1px rgba(0, 0, 255, .2);
	}
	.sidenav {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: -52px;
	  background-color: turquoise;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	}
	.dosis500{
		font-family: 'Dosis', sans-serif;
		font-weight: 500;
	}
	.dosis400{
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
	}
	.sidenav a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: teal;
	  display: block;
	  transition: 0.3s;
	  margin-left: 30px;
	}

	.sidenav a:hover {
	  color: #f1f1f1;
	}
	.sidenav .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}
	#cardpic
	{
		align-self: center;
		width: 150px;
		height: auto;
	}
	.navitem{
		justify-content: center;
		display: flex!important;
    	margin-left: 5px!important;
	}
	.nav_img{
		width: 68%;
		position: absolute;
		left: 24%;
		bottom: 20px;
	}
	.oim{
		color: #fff;
	}
	.location{
		height: 48px;
		align-items: center;
	}
  </style>
</head>
<body>

	<div class="alert alert-info alert-dismissible fade show shadow p-3 mb-5 rounded" style="width: 101%;">
		<div class="container">
		  <div class="row">
			<div class="col-md-2 col-sm-2 col-2">
				<div id="mySidenav" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<a href="/" class="navitem">Home</a>
					<a href="/about" class="navitem">About</a>
					<a href="/account" class="navitem">My Account</a>
					<a href="/signout" class="navitem">Sign Out</a>
					<img src="navigator.svg" class="nav_img">
				</div>
				  <span style="font-size:30px;cursor:pointer" class="icon" onclick="openNav()">&#9776;</span>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
			  <h4 class="alert-heading dosis500">Welcome <%= data[1].user_details.name %> !!!</h4>
			  <p class="bd-lead font-weight-lighter dosis500">Here are the details of the fault lines.</p>
			  <hr>
			  <p>You can check the details of the faults present in your nearby area.</p>
			</div>
			<div class="col-md-4 col-sm-4 col-0">
				<img src="blub.jpg" style="width: 100%;">
			</div>
		</div>
	  </div>
	  </div>

	  <div class="container d-flex justify-content-center alert-warning location">
		<strong class="text-danger">Your Location  &nbsp;:</strong>&nbsp;&nbsp;
				<span id="country" class="text-primary"></span>&nbsp; &nbsp;
				<span id="state" class="text-primary"></span> &nbsp;&nbsp;
				<span id="city" class="text-primary"></span> 
	  </div>
	  <br>
	  
	<div class="container">
		<div id="mn">
			<div class="row">
				<% if(data[0].errors.length>0){ %>
				<% data[0].errors.forEach(function(item){  %>
				<div class="col-12 col-md-4 col-sm-6" id="cardcol">
					<div class="card" style="width:300px">
					  <div class="card-body">
					    <h4 class="card-title"><%= item.errName %></h4>
					    <p class="card-text">Location</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#getErrorDetails" 
						onclick='modalOpen(<%- JSON.stringify(item.errName) %>,<%- JSON.stringify(item.errDisc) %>,<%- JSON.stringify(item.latitude) %>, <%- JSON.stringify(item.longitude) %>)'>See Full Details</button>
					  </div>
					</div>
				</div>
				<% }); } %>
				<div class="modal fade" id="getErrorDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="exampleModalLabel errorNameModal"></h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body">
						  <strong>Error Description</strong>
						  <p class="errorDiscModal"></p>
						  <p class="errorLocModal">
							  <strong>Location</strong><br>
							  Latitude : <span class="latitude"></span><br>
							  Lognitude : <span class="longitude"></span>
						  </p>
						</div>
						<div class="modal-footer">
						  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				  </div>
			</div>
		</div>
	</div>
	<p id="demo"></p>
	<div id="mapholder"></div>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyAYhKH9dQh-sOObF57ET6YF3Y_xsjrtgH8"></script>
<script>
	var error = <%- JSON.stringify(data) %>;
	function openNav() {
	    document.getElementById("mySidenav").style.width = "250px";
	}
	function closeNav() {
	    document.getElementById("mySidenav").style.width = "0";
	}

	function gotomaps(elem){
		a_tag = elem.querySelector('a');
		var lat = document.querySelector(".latitude").innerText;
		var lng = document.querySelector(".longitude").innerText
		a_tag.href="https://www.google.com/maps/@"+lat+','+lng;
	}



	function modalOpen(errorname,errordisc,lat,lng){
		document.querySelector(".modal-title").innerText = errorname;
		document.querySelector(".errorDiscModal").innerText = errordisc;
		document.querySelector(".latitude").innerText = lat;
		document.querySelector(".longitude").innerText = lng;
		// discription + = '<br>'+ '<p>' +lat +'<br>' + lng+ '</p>';
	}

	$.ajax({
		url: "https://geolocation-db.com/jsonp",
		jsonpCallback: "callback",
		dataType: "jsonp",
		success: function(location) {
		  $('#country').html(location.country_name);
		  $('#state').html(location.state);
		  $('#city').html(location.city);
		}
	  });

	var x = document.getElementById("demo");

		function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showMap);
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
		}

		function showPosition(position) {
			x.innerHTML = "Latitude: " + position.coords.latitude +
			"<br>Longitude: " + position.coords.longitude;
		} 

		getLocation();






		

		
</script>
</body>
</html>




